.pokemon-card {
  margin: 10px;
}

.card-fire {
  background-color: #EE8130 !important;
}

.card-water {
  background-color: #6390F0 !important;
}

.card-grass {
  background-color: #8AFF8A !important;
}

.card-default {
  background-color: #A8A77A !important;
}

.card-electric {
  background-color: #F7D02C !important;
}

.card-psychic {
  background-color: #F95587 !important;
}

.card-fighting {
  background-color: #C22E28 !important;
}

.card-ghost {
  background-color: #735797 !important;
}

.card-dragon {
  background-color: #6F35FC !important;
}

.card-rock {
  background-color: #B6A136 !important;
}

.card-ice {
  background-color: #96D9D6 !important;
}

.card-dark {
  background-color: #705746 !important;
}

.card-flying {
  background-color: #A98FF3 !important;
}

.card-bug {
  background-color: #A6B91A !important;
}

.card-poison {
  background-color: #c05eee !important;
}

.card-ground {
  background-color: #8a6433 !important;
}