.pokemon-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .pokemon-details {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f5f5f5;
  }
  
  .pokemon-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .pokemon-image {
    width: 120px;
    height: 147px;
  }
  
  .pokemon-info .pokemon-header {
    flex-grow: 1;
    margin-right: 20px;
  }
  
  .pokemon-details-section {
    margin-top: 20px;
  }
  
  /* Ajoute les autres styles CSS nécessaires pour personnaliser
  